 /*background-color: #c2dde5; light blue*/
        /*background-color: #BDCCDD;  light blue-purple  [header] */

        /*background-color: #e76630;  orange */
        /*background-color: #3b54ac;  blue */
        /*background-color: #C2DDE5;  light blue */

        /*background-color: #EBEBEB;  light gray*/
        /*background-color: #bcc8db;  light purple*/





   /*     html, body {
            height: 100%;
        }*/

        body {
            margin: 0;
            padding: 0;
            width: 100%;
            font-weight: 100;
            font-family: 'Lato';
        }

        .container div {
            margin-bottom: 10px;
        }


        .navbar{
            background-color: #BDCCDD; /* light blue-purple */
        }

        #name {
            font-size: 25px;
            font-weight: bold;
            text-align: left;
        }

        .font-1 {
            font-family: "Courier New", Courier;
        }

        .navbar-right {
            font-size: 1.2em;   
        }

        .center-contents, #banner, #btn-get-started, #summary{
            text-align: center;
        }

        #banner .title {
            font-size: 72px;
        }

        #banner .logo {
            padding-top: 15px;
        }

        .cancel{
            margin-top: 5px;
        }
        .cancel a {
            color: #e76630;
        }

        #btn-get-started .btn, .btn-new-event a{
            color: white;
            background-color: #3b54ac; 
        }

        .btn-new-event a img {
            padding-right: 3px;
            padding-bottom: 3px;
        }

        .btn-new-event a:hover {
            background-color: #C2DDE5;
        }

        #summary h4 {
            font-size: 1.2em;
        }

        #summary p{
            font-size: 1.25em;
            max-width: 500px;
            margin: 0 auto;
        }

        #event-table {
            margin-top: 50px;
        }